/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box Model Hack */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Clear fix hack */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

html {
  font-size: 62.5%;
}

body {
  width: 95%;
  min-width: 775px;
  margin: 3rem auto;
}

body {
  font-family: "Merriweather", serif;
  color: #1d3557;
  background: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

h1 {
  font: 500 3.5rem "Rubik", sans-serif;
  margin-bottom: 1rem;
  color: #A31420;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

h2 {
  font: 500 2.5rem "Rubik", sans-serif;
  margin-bottom: 1rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
h2 a {
	text-decoration: underline;
	text-underline-offset: 5px;
	color: #457b9d;
}
h2 a:hover {
	border: none;
	text-decoration: none;
}

header>div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  font: 1.5rem "Rubik", sans-serif;
}

#about {
  display: none;
}

.stick {
  position: sticky;
  top: 0;
  background: white;
  padding-top: 0.5rem;
  width: 100%;
  z-index: 2;
  font-family: "Rubik", sans-serif;
}

.left {
  float: left;
  padding-left: 1.5rem;
}

.right {
  float: right;
  padding-right: 1.5rem;
}

thead {
  position: sticky;
  top: 4rem;
  z-index: 2;
}

a {
  color: #A31420;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 1px dotted transparent;
}

a:hover {
  border-bottom: 1px dotted #457b9d;
  color: #800F18;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  border: 1px solid #1d3557;
}

table thead tr {
  border-bottom: 1px solid #1d3557;
  -webkit-box-shadow: 0 5px 10px -7px rgba(29, 53, 87, 0.7);
          box-shadow: 0 5px 10px -7px rgba(29, 53, 87, 0.7);
}

table thead th {
  font: 500 2rem "Rubik", sans-serif;
  text-align: center;
  font-family: "Rubik", sans-serif;
  background: #457b9d;
  color: #f1faee;
  vertical-align: middle;
  padding: 1.5rem;
  text-shadow: 1px 1px 2px #1d3557;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

table tbody tr:nth-child(even) {
  background: #D4EDED;
}

table tbody tr:nth-child(odd) {
  background: #f1faee;
}

table tbody td {
  font-size: 1.5rem;
  padding: 1.5rem;
  line-height: 2.1rem;
}

table tbody td:first-child,
table tbody td:nth-child(2),
table tbody td:nth-child(3),
table tbody td:last-child {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

table tbody td:nth-child(3) input[type=checkbox] {
  float: none;
  margin: 0 auto;
}

table tbody td:nth-child(4),
table tbody td:nth-child(5) {
  padding: 1.5rem 2rem;
}

table td+td {
  border-left: 1px dotted rgba(69, 123, 157, 0.5);
}

p {
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.submit-req {
  color: #E52434;
  font-size: 2rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
}

ul {
  position: relative;
}

ul li {
  margin-bottom: 0.7rem;
}

ul li.required:before {
  content: "*";
  color: #E52434;
  font-size: 2rem;
  position: absolute;
  left: -1.6rem;
}

ul li.no-new {
  font-style: italic;
}

span.required {
  font: 2rem "Merriweather", serif;
  color: #E52434;
}

a.submit {
  display: block;
  background: #C91826;
  color: white;
  font-family: "Rubik", sans-serif;
  padding: 1rem 1.5rem;
  margin-bottom: 0.6rem;
  border: 1px solid #A31420;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 7px -3px rgba(29, 53, 87, 0.7);
          box-shadow: 2px 2px 7px -3px rgba(29, 53, 87, 0.7);
  text-shadow: 2px 2px 2px #A31420;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 500;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.submit:hover {
  text-decoration: none;
  background: #E52434;
  border-color: #C91826;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

table tbody td label {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  font: 1.5rem "Rubik", sans-serif;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0 0.5rem 0 0;
  font: inherit;
  color: currentColor;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid currentColor;
  border-radius: 0.3rem;
  -webkit-transform: translateY(0.1rem);
      -ms-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  display: -ms-grid;
  display: grid;
  place-content: center;
  float: left;
}

input[type=checkbox]:before {
  content: "";
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 1rem;
  height: 1rem;
  -webkit-box-shadow: inset 1rem 1rem #A31420;
          box-shadow: inset 1rem 1rem #A31420;
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  -o-transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=checkbox]:checked:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* The Close Button */
#closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
	position: absolute;
	top: 10px;
	right: 15px;
}

#closeModal:hover,
#closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

#exportData {
	background: #3a3b3c;
	color: #f8f8ff;
	max-width: 600px;
	width: 100%;
	padding: 2rem 4rem;
	border-radius: 5px;
	line-height: 2.5rem;
	letter-spacing: 0.15rem;
}

#copyData {
	font-size: 2rem;
	max-width: 300px;
	text-align: center;
	padding: 1.5rem;
}

#confirmCopy {
	height: 40px;
	padding: 10px;
	font-size: 20px;
	color: #C91826;
}